*{
    margin: 0;
    padding: 0;
}


ul{
    background-color:  rgb(179, 70, 252);
    list-style: url(images/icone3.png) square inside;
}

li {
    font-size: 20px;
    border: 1px solid black;
    padding: 20px;
}

ol{
    /* list-style-image: url('images/icone.png'); */

    background-color:  rgb(0, 174, 255);
    list-style: url(images/icone3.png) square inside;
}
