a{
    display: block;
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    margin-block: 20px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 25px;
    text-decoration: none;
    color: orange;
}

a:visited{
    color: chocolate
}

a:hover{
    background-color: chocolate;
    color: white;
}

a:active {
    background-color: rgb(138, 71, 23) ;
}