body{
    background-color: rgb(182, 182, 182);
    min-width: 320px;
}

.cabecalho{
    padding: 15px 5px;
    background-color: rgb(199, 89, 61);
    
}

.cabecalho .logo{
    display: inline-block;
}

.cabecalho nav{
    float: right;
}
.cabecalho nav li {
    display: inline-block;
    padding: 10px;
    background-color: coral;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.cabecalho nav li a{
    color: rgb(255, 38, 0);
    text-decoration: none;
}

main{
    background-color: white;
    padding: 30px;
    
    max-width: 900px;
    margin: 0 auto;
}

main .info {
    font-size: 18px;
}

main p{
    font-size: 16px;
}

.image img{
    width: 100%;
}

@media (max-width: 500px) {
    .cabecalho {
        text-align: center;
    }

    .cabecalho nav{
        float: none;
    }

    .cabecalho .logo{
        margin-bottom: 5px;
    }
}

@media (max-width: 392px) {
    .cabecalho{
        padding-block: 1px;
    }

    .cabecalho nav li{
        display: block;
        background-color: coral;
        margin-block: 5px;
        width: auto;
    }


    
}