body{
    background-color: rgb(39, 39, 39);
}

.container {
    display: flex;
    max-width: 800px;
    border: 1px solid #ccc;
    height: 80px;
    
    border: 1px solid rgb(240, 255, 175);
}

.item {
    background-color: rgb(229, 231, 68);
    font-size: 20px;
    margin: 5px;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order{
    display: flex;
}