*{
    margin: 0;
}

.container{
    display: grid;
    padding: 3em;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

.container p{
    padding: 2em;
    border-radius: .4em;
    box-shadow: 10px 10px 30px rgba(255, 111, 219, 0.8);
}


