p{
    border-radius: 10px;
}

/* ----- TEXT ALIGN ----- */

.alinhado-esquerda {
    text-align: left;
}

.alinhado-direita {
    text-align: right;
}

.alinhado-centro {
    text-align: center;
}

.alinhado-justificado {
    text-align: justify;
}

/* ----- TEXT TRANSFORM ----- */

.maiuscula {
    text-transform: uppercase;
}

.minuscula {
    text-transform: lowercase;
}

.capitalizado {
    text-transform: capitalize;
}

/* ----- TEXT DECORATION ----- */

.sublinhado {
    text-decoration: underline; 
}

.linha-sobreposta {
    text-decoration: line-through;
}

.sem-text-decoration {
    text-decoration: none;
}

/* ----- LETTER SPACING ----- */

.altura-entre-linhas {
    line-height: 1.5em;
}

/* ----- TEXT SHADOW ----- */

.sombra-de-texto {
    text-shadow: 2px 2px 2px #01ff9e;
}

.italico{
    font-style: italic;
}

.negrito{
    font-weight: bold;
}

/* ----- GERAL ----- */

.fundo-alinhamento {
    padding: 20px;
    background-color: #62ec38;
}

.fundo-transform {
    padding: 20px;
    background-color: #6e977a;
}

.fundo-decoration {
    padding: 20px;
    background-color: #426b42;
}

.fundo {
    padding: 20px;
    background-color: #5eaf5c;
}

html{
    font-size: 24px;
}