*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    width: 1200px;
    max-width: 100%;
    flex-wrap: wrap;
}

.flex img{
    max-width: 100%;
}

.coluna{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    margin: 1em;
    flex: 0 1 360px;
}

.botao{
    align-self: flex-start;
    margin-top: auto;
}