body{
    height: 1300px;
}

blockquote{
    font-style: italic;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
}

h2{
    margin-left: 50px;
    font-size: 50px;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    
}

li{
    margin-right: 30px; 
    padding: 5px;
}

.selecao{
    text-align: justify;
}

.primeira-letra{
    text-align: justify;
}

.primeira-letra::first-letter{
    font-size: 450%;
    color: chartreuse;
    float: left;
    margin: 0 10px -10px 0;
}

.primeira-linha::first-line{
    color: white;
    background-color: darkgreen;
}

li::marker{
    color: forestgreen;
    font-size: 30px;
}

.selecao::selection{
    background-color: green;
    color: lightgreen;
}

.antes::before{
    margin-right: 10px;
    content: url(imagem.png);
}

.depois::after{
    margin-left: 10px;
    content: url(imagem.png);
}

blockquote:hover::after{
    content: "Autor abc - 2022";
    text-align: center;
    padding: 5px 10px;
    border: 1px solid green;
    background-color: lightgreen;
    border-radius: 10px;
    margin-top: 15px;
}