p {
    color: rgb(4, 2, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

div{
    margin-inline: 30px;
}

.bg{
    background-color: rgb(105, 68, 238);
    background-image: url(./images/tech.png);
}

.bg-image{
    width: 513px;
    height: 340px;
}

.bg-repeat{
    background-image: url(./images/tech.png);
    background-repeat: no-repeat;
    height: 540px;
}

.bg-size-cover{
    background-image: url(./images/tech.png);
    background-size: cover;
    height: 513px;
}

.bg-fixed{
    background-image: url(./images/tech.png);
    background-size: cover;
    background-attachment: fixed;
    height: 513px;
}

.bg-position{
    background-image: url(./images/tech.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 540px;
}

/* Short code */

/* .bg-position{
    height: 540px;
    background: rgb(78, 78, 78) url(./images/tech.png)
    no-repeat bottom right;
} */