@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

$font: 'Manrope', sans-serif;
$default-weight: 800;

$text-color: hsl(193, 38%, 86%);
$advice-dice-color: hsl(150, 100%, 66%);
$advice-card-color: hsl(217, 19%, 24%);
$background-color: hsl(218, 23%, 16%);