body{
    height: 1000px;
}

img{
    width: 200px;
}

img.scale{
    transform: scaleX(2);
}

img.rotate{
    transition: .3s ease-in-out;
}

img.rotate:hover{
    cursor: pointer;
    transform: rotate(-90deg);
    transition: .3s ease-in-out;
    width: 280px;
}

img.translate{
    transform: translate(50px,60px);
}