body{
    background-color: #3b3b3b;
}

.container > div{
    border: 1px solid rgb(51, 16, 109);
    background-color: #981dc9;
    color: rgb(23, 23, 24);
    font-size: 15px;
}

.container{
    display: grid;
    grid-template-columns: minmax(100px,800px) repeat(2, minmax(100px,300px)) minmax(auto,100px);
    grid-template-rows: 150px 75px;
}