body{
    background-color: rgb(53, 53, 53);
}
div{
    text-align: center;
}
h1{
    color: rgb(200, 203, 206);
}
hr{
    margin: 0 0 21.44px 0;
}
img{
    padding: 10px;
    background-color: white;
    border: solid 5px rgb(170, 170, 170);
    border-radius: 20px;
}