/* ----- Seção com texto ----- */
@media (max-width: 740px){
    .secao-com-texto{
        padding: 135px 25px;
    }

    .secao-com-texto p,
    .secao-com-texto.onde-estamos p{
        width: 100%;
    }
}

/* ----- Ladrilho ----- */

@media (max-width: 768px){
    .ladrilho .medio{
        background: url(../images/1-resp2.jpg) center center;
    }
}

@media (max-width: 720px){
    .ladrilho .grande{
        width: 100%;
    }

    .ladrilho .medio{
        background: url(../images/1.jpg) center center no-repeat;
        width: 100%;
    }

    .ladrilho .pequeno, .ladrilho .pequeno.grao{
        width: 50%;
    }
}

@media (max-width: 583px){
    .ladrilho .medio{
        background: url(../images/1-resp1.jpg) center center no-repeat;
        
    }
}

@media (max-width: 425px){
    .ladrilho .medio{
        background: url(../images/1-resp2.jpg) center center no-repeat;
        
    }
}

@media (max-width: 360px){
    .ladrilho .medio{
        background: url(../images/1-resp3.jpg) center center;
    }
    .ladrilho .pequeno, .ladrilho .pequeno.grao{
        width: 100%;
    }
}

/* ----- Cabeçalho e geral ----- */
@media (max-width: 473px){
    
    .cabecalho .logo{
        left: 0px;
    }

    .cabecalho .logo{
        display: block;
        margin: 0 auto;
    }

    .cabecalho nav{
        margin-top: 30px;
        position: static;
        text-align: center;
        width: 100%;
    }

    .cabecalho nav ul li{
        display: block;
        padding: 1.8rem;
    
    }

    .cabecalho ul li a{
        transition: .1s ease-in-out;
        font-size: 1.6rem;
    }

    .painel h2{
        font-size: 3rem;
    }

    .secao-com-texto h2{
        font-size: 3rem;
    }

    .secao-com-texto.onde-estamos p{
        font-size: 2rem;
    }
}

/* ----- Contato ----- */

@media (max-width: 1024px){
    .contato .texto-contato{
        position: absolute;
        top: 32%;
        left: 50%;
    }
}

@media (max-width: 745px){
    .contato{
        background-image: none;
        background-color: #d3ae71;
    }

    .contato .texto-contato{
        position: relative;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }

    .contato h2, p{
        margin-bottom: 46px;
    }
}

@media (max-width: 330px){
    .contato .texto-contato address{
        font-size: 2.3rem
    }
}

/* ----- Rodapé ----- */

@media (max-width: 720px){
    .rodape{
        background-image: none;
        background-color: black;
        text-align: center;
    }
    
    .rodape .conteudo-de-baixo{
        display: block;
    }

    .rodape .logo-rodape{
        margin-bottom: 122px;
    }

    .rodape ul{
        display: block;
        width: 100%;
        margin-bottom: 122px;
    }

    .rodape ul li{
        display: block;
    }

    .rodape ul li a{
        font-size: 2rem;
    }

    .rodape .redes-sociais{
        float: none;
        margin-bottom: 28px;
    }
}