body{
    background-color: rgb(39, 39, 112);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-block: 15px;
    color: rgb(77, 77, 77);
}

hr{
    margin: 0;
    background-color: rgb(179, 179, 179);
    border-color: rgb(179, 179, 179);
    margin: 10px 0 12px 0;
    border-style: solid;
}

a{
    text-decoration: none;
    color: rgb(56, 125, 195);
}

.formulario{
    margin-top: 50px;
    margin-inline: auto;
    width: 355px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.formulario #nome{
    width: 45.3%;
    margin-right: 5px;
}

.formulario #sobrenome{
    width: 45.3%;
}

.formulario #celular-email{
    width: 96.6%;
}

.formulario #senha{
    width: 96.7%;
}

.titulacao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(77, 77, 77);
    margin-bottom: 10px;
}

.data-nascimento select{
    width: 31.6%;
}

.data-nascimento #dia, #mes{
    margin-right: 5px;
}

.form-elementos{
    background-color: rgb(248, 248, 248);
    padding: 5px;
    margin-bottom: 10px;
    border: solid 1px grey;
    border-radius: 4px;
    font-family: arial;
    font-size: 15px;
}

.genero.feminino, .masculino{
    margin-right: 9px;
}

.genero.feminino{
    float: left;
    width: 26%;
}

.genero.masculino{
    float: left;
    width: 24%;
}

.genero.personalizado{
    float: left;
    width: 34%;
}

.termos{
    width: 355;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: justify;
    color: rgb(105, 105, 105);
}

.enviar-dados{
    text-align: center;
}

.botao-cadastro{
    margin-block: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(0, 164, 0);
    height: 36px;
    padding-inline: 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.botao-cadastro:active{
    background-color: rgb(0, 116, 0);
}